form.formAuth(action="/auth" method="post")
    h2 Авторизуйтесь
    p Логин
        input.login(type="text" name="login")
    p Пароль
        input.password(type="password" name="password")
    input.submitAuth(type="submit" value="Войти")     