doctype html
html
    head
        title= title
        link(rel="stylesheet" href="css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="js/user.js")
    body
        div.flexcontainer
            nav
                ul
                    li#btnMain Главная
                    li#btnJournal Журнал
                    li#btnRoute Заходки
                    li#btnFowl Дичь
            div.main
                header
                    img(src="img/logo.png" alt="ТОЗ-34")
                    h1 Моя охота
                div.content
                    if typePage == "journal"
                        include journal
                    else if typePage == "route"
                        include route
                    else if typePage == "fowl"
                        include fowl
                    else 
                        include main    
        footer
            p &copy;Евгений Трофимов 2019 
                a(href="mailto:set2333@mail.ru") email:set2333@mail.ru