doctype html
html
    head
        title= title
        link(rel="stylesheet" href="css/style.css")
    body
        div.flexcontainer
            nav
                ul
                    li Главная
                    li Журнал
                    li Заходки
                    li Дичь
            div.main
                header
                    img(src="img/logo.png" alt="ТОЗ-34")
                    h1 Моя охота
                div.content
                    h2 Приветствую на сайте посвященном моей охоте.
                    p К сожалению сайт приватный. Для просмотра данных необходимо авторизоваться.
        footer
            p &copy;Евгений Трофимов 2019 
                a(href="mailto:set2333@mail.ru") email:set2333@mail.ru