doctype html
html
    head
        title= title
        link(rel="stylesheet" href="css/style.css")
    body
        nav
            ul
                li Главная
                li Журнал
                li Заходки
                li Дичь
        div
            header
            div
        footer    