@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:400,700|Montserrat+Alternates:400,400i,700&display=swap");
/* сброс стилей браузера */
* {
  box-sizing: border-box; }

html, body, button, div, span, object, iframe, h1, h2, h3, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body, button {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* конец кода сброса стилей браузера */
body, button {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-indent: 12px; }

h1, h2, h3 {
  font-family: "Cormorant Infant", serif;
  font-size: 48px; }

h2 {
  font-size: 36px;
  padding: 20px; }

h3 {
  font-size: 24px; }

html {
  height: 100%; }

body, button {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  min-height: 100%; }

.main {
  float: right;
  flex: 4 1 70%; }

.flexcontainer {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row; }

.content {
  text-align: center;
  padding-top: 40px; }

header {
  height: 100px;
  border-radius: 0 0 7px 7px;
  display: flex;
  margin-left: 10px;
  background-color: #FFC040;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.6); }
  header img {
    flex: 1 1 50%;
    height: 100%;
    margin-left: 30px; }
  header h1, header h2, header h3 {
    flex: 1 1 50%;
    margin: 20px;
    color: #408CFF;
    font-style: italic; }

nav {
  flex: 1 1 20%;
  background-color: #FFC040;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.6); }
  nav ul {
    padding: 0; }
  nav li {
    padding: 10px;
    padding-left: 0;
    margin: 10px;
    background-color: #FFAA00;
    list-style-type: none;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3); }
  nav li:hover {
    background-color: #408CFF; }

form {
  border: 2px solid #408CFF;
  border-radius: 7px;
  margin: 20px 80px;
  padding: 20px;
  background-color: #FFC040; }
  form button {
    padding: 10px 40px;
    margin-top: 20px;
    background-color: #FFAA00;
    border-radius: 7px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3); }
  form button:hover {
    background-color: #408CFF; }

footer {
  flex: 0 0 auto;
  height: 50px;
  border-radius: 7px 7px 0 0;
  background-color: #FFC040;
  margin-top: 10px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.6); }
  footer p {
    font-size: 12px; }
