footer {
    flex: 0 0 auto;
    height: $footerheight;
    border-radius: 7px 7px 0 0;
    background-color: $maincolor;
    margin-top: 10px;
    box-shadow: $divshadow;
    
    p {
        font-size: 12px;
    }
}